<form action="changepassword" method="POST">

    <h1>Update password</h1>

    <div>
        <label for="password"> Old Password : </label>
        <input type="password" name="password" placeholder="Old password" id ="password1" required>
    </div>
    <div>
        <label for="newpassword">New Password : </label>
        <input type="password" name="newpassword" placeholder="New password" id ="password2" required>
    </div>
    
    <div>
        <label for="confirmpassword">Confirm Password : </label>
        <input type="password" name="confirmpassword" placeholder="Confirm password" id ="password3" required>
    </div>
    
    <button type="submit">Update</button>

</form>